[*.cs]
resharper_check_namespace_highlighting = none
resharper_unused_type_local_highlighting = none
resharper_unused_member_local_highlighting = none
resharper_unused_type_parameter_highlighting = none
resharper_redundant_overridden_member_highlighting = none
resharper_unused_variable_highlighting = none
resharper_unused_parameter_local_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_value_parameter_not_used_highlighting = none
resharper_unused_auto_property_accessor_local_highlighting = none
resharper_event_never_subscribed_to_local_highlighting = none